{% extends 'home.html.jinja2' %}

{% block link %}

    <script src="{{ url_for('static', filename='js/colonne.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colonne.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Notifs.css') }}">

      <script>
          const user_id = {{ user.id }}
      </script>

    <title>Vue de projet</title>
{% endblock %}

{% block onglet %}
<div class="haut">
    <div class="vues">
        <a class="lienv" href="{{ url_for("home", user_id=user.id) }}"><button class="vue">Vue par échéances</button> </a>
        <button disabled class="vue">Vue par projets</button>
        <a class="lienv" href="{{ url_for("list", user_id=user.id) }}"> <button class="vue">Vue par tâches</button> </a>
    </div>

</div>
{% endblock %}

{% block projects %}
    {% for projet in projects %}
        <a class="lienp" href="{{ url_for("colonne_project", user_id=user.id, project_id=projet.id)}}">
            <button class="projet" >{{ projet.name }}</button>
        </a>
    {% endfor %}

     {% if user.role==1 or user.role==3 %}
            <a class="lienp">
                <button data-modal-target="#form" class="projet"> + </button>
            </a>

            <div id="form" class="new">

                <form  id="formnp" action="{{ url_for("colonne", user_id=user.id) }}" method="post">

                    <div class="bandeaux"><h3>Nouveau Projet</h3>  <button date-close-button class="close"> X </button> </div>

                    <label for="name">Nom du projet :</label>
                       <input type="text" id="name" name="name" value="" required>
                    <label for="des">Description du projet :</label>
                    <textarea type="text" id="des" name="description" value="" required></textarea>
                    <label for="date">Date de fin prévisionnel :
                        <input type="date" id="date" name="date" value="" required>
                    </label>

                    <label for="dev">Ajouter des développeurs :</label>
                        <input type="text" id="dev" name="developpeurs" value="" multiple>
                    <div class="precision"> Entrer les adresses emails des développeurs en les séparant simplement avec un espace</div>



                    <p ><input name="project" type="submit"></p>

                </form>
            </div>
        {% endif %}

{% endblock %}

{% block content %}
    <div class="content">
        <div class="vide">
            <p> Veuillez sélectionner un projet</p>
        </div>
    </div>
{% endblock %}
