{% extends 'home.html.jinja2' %}

{% block link %}
    <script src="{{ url_for('static', filename='js/colonne.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Notifs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colonne.css') }}">
      <script>
          const user_id = {{ user.id }}
      </script>

    <title>Vue de projet</title>
{% endblock %}

{% block onglet %}
<div class="haut">
    <div class="vues">
        <a class="lienv" href="{{ url_for("home", user_id=user.id) }}"><button class="vue">Vue par échéances</button> </a>
        <button disabled class="vue">Vue par projets</button>
        <button class="vue">Vue par tâches</button>
    </div>

</div>
{% endblock %}

{% block projects %}
    {% for projet in projects %}
        <a class="lienp" href="{{ url_for("home_project", user_id=user.id, project_id=projet.id)}}">
            <button class="projet" >{{ projet.name }}</button>
        </a>
    {% endfor %}

{% endblock %}

{% block content %}
    <div class="content">
        <div class="vide">
            <p> Veuillez sélectionner un projet</p>
        </div>
    </div>
{% endblock %}

{% block Notif %}
        <div id="lateral-panel">
            <input id="lateral-panel-input" type="checkbox">
            <div id="lateral-panel-bloc">
                <label id="lateral-panel-label" for="lateral-panel-input"> <div class="bell"><img src="/static/img/bell.png"></div> </label>
                <div id="lateral-panel-content">
                    <!-- ici le code HTML du panneau-->
                    <div class="titre-notif">
                            <p align="center"> Notifications </p>
                    </div>

                    {% for notif in notifs %}
                        <div class="notif">
                            <div class="supprimer-notif">
                                <form method="POST"
                                action="{{ url_for('delete', notif_id=notif.id, user_id=user.id, last_page=2) }}">
                                <input type="submit" value="X"
                                    onclick="return confirm('Are you sure you want to delete this entry?')">
                            </form>
                            </div>
                            <div class="notif-content">
                                <p align="center"> {{ notif.content }} <p/>
                            </div>
                        </div>
                    {% endfor %}



                </div>
            </div>
        </div>
    {% endblock %}