<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Connexion IMTrello</title>

  </head>
  <body>
    <div class="window">
        <div class="button">
            <button>Connexion</button>
            <button> Inscription</button>
        </div>

        <form class="formulaire">
            <p>Email : <input type="text" placeholder="ex: name.surname@thing.com" value="" required> </p>
            <p>Password : <input type="text" value </p>

            <p><input type="submit"></p>

        </form>
    </div>

  </body>
</html>
