<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styleco.css">

    <title>Connexion IMTrello</title>

  </head>
  <body>
    <div class="all">
        {% block window %}
            <div class="window">
                <div class="button">
                    {% block button %}
                        <button disabled>Connexion</button>
                        <a href="{{ url_for("inscription") }}">
                            <button> Inscription</button>
                        </a>
                    {% endblock %}
                </div>


                <form class="formulaire">
                    {% block form %}
                        <label>Email :</label> <input type="email" placeholder="ex: name.surname@thing.com" value="" required>
                        <label>Mot de passe :</label> <input type="text" value="" required>
                    {% endblock %}

                    <p><input type="submit"></p>

                </form>
            </div>
        {% endblock %}
    </div>

  </body>
</html>
