<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/styleco.css">

    <title>Connexion IMTrello</title>

  </head>
  <body>
    <div class="all">
        <div class="window">
            <div class="button">
                {% block button %}
                    <button disabled>Connexion</button>
                    <button> Inscription</button>
                {% endblock %}
            </div>


            <form class="formulaire">
                {% block form %}
                    <p>Email : <input type="text" placeholder="ex: name.surname@thing.com" value="" required> </p>
                    <p>Password : <input type="text" value="" required> </p>
                {% endblock %}

                <p><input type="submit"></p>

            </form>
        </div>
    </div>

  </body>
</html>
