{% extends "home.html.jinja2" %}


{% block onglet %}
        <div class="haut">
            <div class="vues">
                <button disabled class="vue">Vue par échéances</button>
                <a class="lienv" href="{{ url_for("colonne_project", user_id=user.id, project_id=project_id) }}"> <button class="vue">Vue par projets</button> </a>
                <button class="vue">Vue par tâches</button>
            </div>

        </div>
        {% endblock %}

{% block projects %}
    {% for projet in projects %}
        {% if projet.id == project_id  %}

            <div class="lienp" onclick="window.location.href='{{ url_for("home", user_id=user.id)}}'">
                <button class="projet" disabled>{{ projet.name }}</button>
            </div>
        {% else %}
                <a class="lienp" href="{{ url_for("home_project", user_id=user.id, project_id=projet.id)}}">
                    <button class="projet" >{{ projet.name }}</button>
                </a>
        {% endif %}

    {% endfor %}


{% endblock %}


