<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/home.css">

    <title>Home page</title>

  </head>
  <body>
    <div class="top">
        <div class="profil">
            <div class="image"><img src="/static/img/pp1.png" alt="Photo de profil"></div>
            <div class="nom">
                <p class="username"> Toto </p>
                <a href="/" class="deco">Deconnexion</a>
            </div>
        </div>
        <div class="haut">
            <div class="vues">
                <button disabled class="vue">Vue par échéances</button>
                <button class="vue">Vue par projets</button>
                <button class="vue">Vue par tâches</button>
            </div>
            <div class="plus"><button class="vue"> + </button></div>

        </div>
    </div>

    <div class="in">
        <div class="projets">

        {% block projects %}
            <button class="projet">IMTrello</button>
            <button class="projet">IMTrello2</button>
            <button class="projet">IMTrello3</button>
        {% endblock %}

        </div>

        {%  block mess %}

        <div class="message">
            <div class="semaine">
                <p class="titre"> Pour cette semaine </p>

                <p class="date">07/03/2024 :</p>
                <div>
                    <span> Fin de tâches : Tâche1 </span>
                    <span> Dans "IMTrello2" </span>
                    <span>Finis</span>
                </div>

                <p class="date">09/03/2024 :</p>
                <div>
                    <span> Fin de tâches : Tâcheeeeeeeee </span>
                    <span> Dans "IMTrello" </span>
                    <span>En cours</span>
                </div>

                <p class="date">10/03/2024 :</p>
                <div>
                    <span> Fin du projet : IMTRello2 </span>
                </div>




            <!---
                {%  for object in semaines %}
                    <p class="date"> {{ object[0] }}</p>
                    {% if len(object)==3 %}
                        <div>
                            <span>Fin de tâches : {{ object[1].get_name() }}</span>
                            <span> Dans " {{ object[2].get_name() }} "</span>
                            <span> </span>
                        </div>
                    {% endif %}
                    {% if len(object)==2 %}
                        <div>Fin du projet : {{ object[1].get_name() }}</div>
                    {% endif %}
                {% endfor %}
                --->

            </div>

            <div class="mois">
                <p class="titre"> Pour ce mois </p>

                <p class="date">17/03/2024 :</p>
                <div>
                    <span> Fin de tâches : Courage! </span>
                    <span> Dans "IMTrello3" </span>
                    <span>Finis</span>
                </div>

                <p class="date">18/03/2024 :</p>
                <div>
                    <span> Fin de tâches : Plus qu'une </span>
                    <span> Dans "IMTrello3" </span>
                    <span>En cours</span>
                </div>

                <p class="date">03/04/2024 :</p>
                <div>
                    <span> Fin de tâches : C'est fini, enfin presque </span>
                    <span> Dans "IMTrello" </span>
                    <span>En cours</span>
                </div>

                <!--
                {%  for object in mois %}
                    <p class="date"> {{ object[0] }}</p>
                    {% if len(object)==3 %}
                        <div>
                            <span>Fin de tâches : {{ object[1].get_name() }}</span>
                            <span> Dans " {{ object[2].get_name() }} "</span>
                            <span> </span>
                        </div>
                    {% endif %}
                    {% if len(object)==2 %}
                        <div>Fin du projet : {{ object[1].get_name() }}</div>
                    {% endif %}
                {% endfor %}

                -->

            </div>

            <div class="apres">
                <p class="titre"> Après </p>

                <p class="date">26/07/2024 :</p>
                <div>
                    <span> Fin du projet : IMTRello </span>
                </div>

                <p class="date">01/03/2025 :</p>
                <div>
                    <span> Fin du projet : IMTRello3 </span>
                </div>





                <!--
                {%  for object in apres %}
                    <p class="date"> {{ object[0] }}</p>
                    {% if len(object)==3 %}
                        <div>
                            <span>Fin de tâches : {{ object[1].get_name() }}</span>
                            <span> Dans " {{ object[2].get_name() }} "</span>
                            <span> </span>
                        </div>
                    {% endif %}
                    {% if len(object)==2 %}
                        <div>Fin du projet : {{ object[1].get_name() }}</div>
                    {% endif %}
                {% endfor %}
                -->

            </div>

        </div>
         {%  endblock %}
    </div>

  </body>
</html>