{% extends "connexion.html.jinja2" %}

 {% block button %}
                <button>Connexion</button>
                <button disabled> Inscription</button>
            {% endblock %}

{% block form %}
    <p>Email : <input type="text" placeholder="ex: name.surname@thing.com" value="" required> </p>
    <p> Username: <input type="text" value="" required> </p>
    <p>Mot de passe: <input type="text" value="" required> </p>
    <p>Répétez votre mot de passe : <input type="text" value="" required></p>

{% endblock %}