<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/popUpTask.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pop Up {{ dataTask.titreTache }}</title>

</head>
<body>
    <div class="container">
        <div class="left">
        <div class="containerUD">
            <div class="partieFixe">
                <h1>{{ tache.name }}</h1>
                    <div class="containerStatusDate">
                    <div class="status" style="--status-color: {{dataTask.taskColor}}">{{ tache.status }}</div>
                    <div>{{ dataTask.endDate }}</div>
                    </div>
                    <div class="priorite" >
                        Priorité :
                        <span class ={{ tache.priority }}">
                            {{ dataTask.priorite }}
                        </span>
                    </div>
            </div>
            <div class="containerPartieScroll">
            <p>
                <div class="description">
                    <span class="bold">Description :<br></span> {{ dataTask.description }}
                </div>
            </p>
            <div class = commentairebox>
                {% for com in commentaires %}
                    <div class="commentaire">
                        {{ com }}
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
        </div>
        <div class="right">
            <span class="bold">Développeurs :</span>
        <ul>
            {% for dev in developers %}
            <li>{{dev}}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
</body>
</html>