<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popUpTask.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pop Up {{ tache.name }}</title>

</head>
<body>
    <div class="container">
        <div class="left">
        <div class="containerUD">
            <div class="partieFixe">
                <h1>{{ tache.name }}</h1>
                    <div class="containerStatusDate">
                    <div class="status">{{ tache.status }}</div>
                    <div>{{ tache.date }}</div>
                    </div>
                    <div class="priorite">
                        Priorité :
                        <span class ="{{ tache.priority }}">
                            {{ tache.priority }}
                        </span>
                    </div>
            </div>
            <div class="containerPartieScroll">
            <p>
                <div class="description">
                    <span class="bold">Description :<br></span> {{ tache.description }}
                </div>
            </p>
            <div class = commentairebox>
                {% for com in commentaires %}
                    <div class="commentaire">
                        {{ com }}
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
        </div>
        <div class="right">
            <span class="bold">Développeurs :</span>
        <ul>
            {% for dev in developers %}
            <li>{{dev}}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
</body>
</html>