{% extends "colonne_project.html.jinja2" %}

{% block link%}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colonne.css') }}">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script>
        const user_id = {{ user.id }}

        function suppr_de_tache() {
            console.log('hi')
            $.ajax({
                url: '{{ url_for("supprdev_de_tache", user_id=user.id, project_id=projet.id, task_id=tache.id, dev_id=dev.id)}}',
                type: 'POST',
                success: function(response) {
                    console.log(response)
                    window.location.href="{{ url_for('popUp', user_id=user.id,  project_id=projet.id, task_id=tache.id) }}"
                },
                error: function(error) { console.log(error); }
            });

        }

        function suppr_de_projet(){
            $.ajax({
                url: '{{ url_for("supprdev_de_projet", user_id=user.id, project_id=projet.id, dev_id=dev.id)}}',
                type: 'POST',
                success: function(response) {
                    window.location.href="{{ url_for('popUp', user_id=user.id,  project_id=projet.id, task_id=tache.id) }}"
                },
                error: function(error) { console.log(error); }
            });
        }

      </script>

    <title>{{ projet.name }}</title>
  {% endblock %}

{% block plus %}

    <div class="supprdev">
        <div class="text">
            <p class="supprdevt"> Voulez vous supprimer l'utilisateur :</p>
                <p class="supprdevt">"{{ dev.username }}, {{ dev.mail }}"</p>

            <p class="supprdevt">
            {% if tache %}
                de la tâche {{ tache.name }}

            {% else %}
                du projet {{ projet.name }}
            {% endif %}
            </p>
        </div>

        <div class="button">
            <a href="{{ url_for('popUp', user_id=user.id,  project_id=projet.id, task_id=tache.id) }}">
                <button>Annuler</button></a>
             {% if tache %}
                <button onclick="suppr_de_tache()">Supprimer</button>

            {% else %}
                <button onclick="suppr_de_projet()">Supprimer</button>
            {% endif %}

        </div>
    </div>

    <div id="overlayerreur"></div>

{% endblock %}